.git
**.gitignore

.env
.env.example
.env.production

.idea
.styleci.yml
.editorconfig
README.md

storage/framework/**

Makefile
docker-compose.yml
docker-compose_production.yml

db_setup.sh
deploy_development.sh
